*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === J’ai utilisé des variables CSS pour garantir la cohérence visuelle du site. === */

/* ===== VARIABLES CSS ===== */
:root {
  --color-primary: #0A2540;
  --color-secondary: #99FDF4;
  --color-background: #F5F7FA;
  --color-white: #FFFFFF;
  --color-text-main: #2B2B2B;
  --color-text-muted: #6B7280;
  --color-error: #E63946;

  --font-main: 'Poppins', sans-serif;

  --container-width: 1200px;
  --section-padding: 80px;
}

body{
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text-main);
    line-height: 1.6;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/* ===== HEADER ===== */

.header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--color-primary);
    padding: 20px var(--section-padding);
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary);
}

.menu ul{
    display: flex;
    gap: 24px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: white;
}

/* ====== Section Bienvenue ====== */
.bienvenue {
    min-height: 100vh;
    padding:  var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.bienvenue .title {
    font-size: 35px;
    line-height: 1.3;
    color: var(--color-primary);
    margin-bottom: 24px;
}

.bienvenue a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.bienvenue a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.imnage1 {
    max-width: 900px;
}

/* ===== Section À Propos ===== */
.apropos {
    background-color:var(--color-primary);
    padding: var(--section-padding);
    min: 100vh;
    padding-bottom: 0;
}

.about-content {
     display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    height: 100;
    padding-bottom: var();
}

.apropos .desc {
  font-size: 20px;
    max-width: 600px;
    margin: 24px 0;
    color: var(--color-white);
}
.apropos a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
}
.apropos a:hover {
  opacity: 0.9;
}
.image2 {
    max-width: 520px;
    height: auto;
    align-self: flex-end;
}
.title2{
  font-size: 30px;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 20px;
}

/*==== Section Mes Projets =====*/
.mesprojets {
  padding: var(--section-padding);
}
.title3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 60px;
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.project-card {
  background-color: var(--color-white);
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.project-image {
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card h3 {
  font-size: 20px;
  color: var(--color-primary);
  padding: 3px 30px;
}
.project-card p {
  font-size: 17px;
  color: var(--color-text-muted);
  padding: 3px 30px;
  text-align: left;
}
.card-side {
  display: flex;
  padding: 5px 30px;
  align-items: center;
  margin-bottom: 30px;
}
.icons {
  display: flex;
  gap: 8px;
}
.icons img {
  width: 30px;
  height: 30px;
}
.card-side a {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
  border-radius: 8px;
  transition: 1.3s ease;
}
.card-side a:hover{
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/*====== Section Compétences =======*/
.competences {
  padding: var(--section-padding);
}
.container2 {
  display: flex;
  gap: 40px;
}
.skills-block{
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 20px 30px;
  flex: 1;
}
.skills-block h3 {
  color: var(--color-primary);
  margin-bottom: 20px;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}
.progress-fill {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 8px;
}

/* ===== Section Contact ===== */
.contact {
  padding: var(--section-padding);
  background-color: var(--color-primary);
}
.contact .title4 {
  font-size: 35px;
  color: var(--color-white);
  text-align-last: center;
  margin-bottom: 40px;
  line-height: 1.2;
}
.contact .highlight {
  color: var(--color-secondary);
}
.formulaire {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 14px;
}
.form-row {
  display: flex;
  gap: 16px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-group label {
  margin-bottom: 5px;
  
}
.form-group input {
  width: 100%;
}
@media (max-width: 600px) {
  .form-row {
    flex-flow: column;
  }
}
.formulaire label{
  font-size: 16px;
  color:var(--color-secondary);
  margin-bottom: 5px;
}
.formulaire input, .formulaire textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}
.formulaire button{
  font-size: 15px;
  margin-top: 10px;
  padding: 12px 20px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.formulaire button:hover {
  opacity: 0.9;
}

/*===== Section Footer ===== */
.footer{
  padding: 20px 80px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-primary);
  text-align: center;
  justify-content: space-between;
}
.footer span {
  font-weight: bold;
}
