*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* === J’ai utilisé des variables CSS pour garantir la cohérence visuelle du site. === */

/* ===== VARIABLES CSS ===== */
:root {
  --color-primary: #0A2540;
  --color-secondary: #99FDF4;
  --color-background: #F5F7FA;
  --color-white: #FFFFFF;
  --color-text-main: #2B2B2B;
  --color-text-muted: #6B7280;
  --color-error: #E63946;

  --font-main: 'Poppins', sans-serif;

  --container-width: 1200px;
  --section-padding: 80px;
}

body{
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-text-main);
    line-height: 1.6;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/* ===== HEADER ===== */

.header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--color-primary);
    padding: 20px var(--section-padding);
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-secondary);
}

.menu ul{
    display: flex;
    gap: 24px;
}
.menu a{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary);
    transition: color 0.3s ease;
}

.menu a:hover{
    color: white;
}

/* ====== Section Bienvenue ====== */
.bienvenue {
    min-height: 100vh;
    padding:  var(--section-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.bienvenue .title {
    font-size: 35px;
    line-height: 1.3;
    color: var(--color-primary);
    margin-bottom: 24px;
}

.bienvenue a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.bienvenue a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.imnage1 {
    max-width: 400px;
}

/* ===== Section À Propos ===== */
.apropos {
    background-color:var(--color-primary);
    padding: var(--section-padding);
}

.about-content {
     display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.apropos .desc {
    max-width: 600px;
    margin: 24px 0;
    color: var(--color-white);
}
.apropos a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
}

.image2 {
    max-width: 450px;
}




